{
    "extends": "airbnb-base",
    "rules": {
        "linebreak-style": ["error", "windows"],
        "indent": ["error", 4],
        "prefer-template": 0,
        "no-multi-str": 0,
        "max-len": ["error", { "code": 250 }],
        "prefer-destructuring": ["error", {
            "array": false,
            "object": true
          }, {
            "enforceForRenamedProperties": false
          }]
    },
    "env": {
        "browser": true
    }
}
